#set($uuid=$columns.get(1))
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${package}.mapper.${className}Mapper">
    <resultMap id="BaseResultMap" type="${package}.entity.${className}Entity">
#foreach($column in $columns)
#if($foreach.first)
        <id column="${column.columnName}" jdbcType="${column.jdbcType}" property="${column.fieldName}" />
#else
        <result column="${column.columnName}" jdbcType="${column.jdbcType}" property="${column.fieldName}" />
#end
#end
    </resultMap>
    <delete id="deleteByPrimaryKey">
        delete from ${tableName}
        where ${uuid.columnName} = #{${uuid.fieldName},jdbcType=${uuid.jdbcType}}
    </delete>
    <insert id="insert" parameterType="${package}.entity.${className}Entity">
        insert into ${tableName} (
#foreach($column in $columns)
        ${column.columnName}#if($foreach.last)#else,
#end
#end

        )values (
#foreach($column in $columns)
        #{${column.fieldName},jdbcType=${column.jdbcType}}#if($foreach.last)#else,
#end
#end
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="${package}.entity.${className}Entity">
        update ${tableName}
        set
#foreach($column in $columns)
#if($foreach.index>1 && ${column.columnName} != "crt_id" && ${column.columnName} != "crt_name" && ${column.columnName} != "crt_time")
#if($foreach.index>2),
#end
            ${column.columnName} = #{${column.fieldName},jdbcType=${column.jdbcType}}#end
#end

        where ${uuid.columnName} = #{${uuid.fieldName},jdbcType=${uuid.jdbcType}}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
#foreach($column in $columns)
        ${column.columnName}#if($foreach.last)#else,
#end
#end

        from ${tableName}
        where ${uuid.columnName} = #{${uuid.fieldName},jdbcType=${uuid.jdbcType}}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
#foreach($column in $columns)
        ${column.columnName}#if($foreach.last)#else,
#end
#end

        from ${tableName}
    </select>
</mapper>