#set($uuid=$columns.get(1))
package ${package}.mapper;

import ${package}.entity.${className}Entity;
import java.util.List;

public interface ${className}Mapper {

    int deleteByPrimaryKey(${uuid.fieldType} ${uuid.fieldName});

    int insert(${className}Entity entity);

    ${className}Entity selectByPrimaryKey(${uuid.fieldType} ${uuid.fieldName});

    List<${className}Entity> selectAll();

    int updateByPrimaryKey(${className}Entity entity);
}